
.pad{
    width: 100vw;
}

.header{
    font-family: PT Serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: 0em;
    text-align: center;
    color: #E51A1E;
    margin-top: 10%;


}
.paragraph{
    font-family: PT Serif;
    font-size: 25px;
    font-weight: 300s;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}
.img1{
    
    width: 864.85px;
    height: 529.62px;
    margin-left: 270px;
    padding-bottom: 20px;

}