/* *{
    width: 100vw;
} */


@font-face {
    font-family: saleem;
    src: url("../font/PTSerif-Regular.ttf");
}


.sallymaindiv {
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 65px;
    color:blue;
    width: 100%;
    /* position: relative; */
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 1;   
    /* border:1px solid orange; */
    /* display: block; */
    /* transition: top 0.3s; */
    /* top: 2px; */

}

.sallyitems {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

.sallyitemsInside1 {
    cursor: pointer;
}

.sallylogo {
    width: 20%;
    /* height: 70px; */
    height: 85%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;


    /* margin: 60px; */
    /* margin-left: -10px; */
}

.sallylogo img{
    width:120px;
    height:100%;
    /* margin-left:50px; */
    /* object-fit: contain; */
    /* margin-left: 10%; */
    padding-right: 50px;

}
.sallyburger {
    /* display: inline-block; */
    width: 30px;
    height: 35px;
    cursor: pointer;

    /* margin-top: 80px; */
    /* margin-right: 30px; */



}

.sallyburger-container {
    /* padding-left: 10px; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sallypopupBox {
    margin-left: 30%;
    margin-top: -5%;
}

.sallyburger1 {
    margin-left: 40%;
    margin-top: 3%;
}

.sallycross-image {
    /* margin-left: 92%; */
    width:20px;
    margin-left: 190px;

}

.sallycross {
    margin-left: 60%;
    display: flex;
    margin-top: 50%;
}

.sallyservices-card {
    background-color: white;
    border: 1px solid black;
    width: auto;
    height: auto;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    ;
    position: absolute;
    top: 15%;
}

.sallyservices-list {
    list-style: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    margin-right: 50px;
    margin-bottom: 15px;
}
.sallyservices-burger {
    background-color: white;
    border: 1px solid black;
    width: 25%;
    /* height: 460px; */
    height: 60%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    
    position: absolute;
    line-height: 10px;
    margin-top: 8%;

    }
.sallyservices-burger {
    list-style: none;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    /* margin-right: 50px; */
    /* margin-bottom: 15px; */
}